data/*
data
bin/*
results/*
results
__pycache__
work
.nextflow*
trace.txt*
src/pipe/quality_control/file_handle.py
src/pipe/mapping/file_handle.py
data/examples/
doc/MM_Bernard
doc/report
.DS_Store
data/example/
