// configuration option for the mapping.nf Pipeline

params {
  // mapping.nf config
  mapper = "salmon"
  paired = true
  salmon = "/usr/local/bin/salmon"
  salmon_parameters = "--useVBOpt --numBootstraps 100 --seqBias --gcBias --posBias --libType IU"
  kallisto = "/usr/local/bin/kallisto"
  kallisto_parameters = "--bias --bootstrap-samples 100"
  bowtie2 = "/usr/local/bin/bowtie2"
  bowtie2_parameters = "--very-sensitive"
  bedtools = "/usr/bin/bedtools"
  samtools = "/usr/bin/samtools"
  quantifier = "htseq"
  htseq = "/usr/local/bin/htseq-count"
  htseq_parameters = "--mode=intersection-nonempty -a 10 -s no -t exon -i gene_id"
  rsem = "/usr/local/bin/rsem"
  rsem_parameters = ""
  gzip = "/usr/bin/gzip"
  pigz = "/usr/bin/pigz"
  mean = 200
  sd = 20
}

process {
  $get_fastq_name {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "2GB"
    time = "10h"
  }
  $get_file_name_reference {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "2GB"
    time = "10h"
  }
  $get_file_name_annotation {
    executor = ${params.global_executor}
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $split_ref {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "2GB"
    time = "10h"
  }
  $indexing {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "30GB"
    time = "10h"
  }
  $mapping_quantification {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "30GB"
    time = "10h"
  }
  $mapping {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "30GB"
    time = "10h"
  }
  $sorting {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "30GB"
    time = "10h"
  }
  $quantification {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "30GB"
    time = "10h"
  }
  $get_file_name {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "2GB"
    time = "10h"
  }
  $fastqc {
    executor = ${params.global_executor}
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $adaptor_removal {
    executor = ${params.global_executor}
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $trimming {
    executor = ${params.global_executor}
    cpus = ${params.cpu}
    memory = "2GB"
    time = "10h"
  }
  $fastqc_trimmed {
    executor = ${params.global_executor}
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $get_salmon_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $get_kallisto_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $get_bowtie2_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $get_rsem_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $get_htseq_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $get_bedtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $get_samtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
}
