// configuration option for the mapping.nf Pipeline

params {
  // mapping.nf config
  mapper = "salmon"
  paired = true
  salmon = "/usr/local/bin/salmon"
  salmon_parameters = "--useVBOpt --numBootstraps 100 --seqBias --gcBias --posBias --libType IU"
  kallisto = "/usr/local/bin/kallisto"
  kallisto_parameters = "--bias --bootstrap-samples 100"
  bowtie2 = "/usr/local/bin/bowtie2"
  bowtie2_parameters = "--very-sensitive"
  bedtools = "/usr/bin/bedtools"
  samtools = "/usr/local/bin/samtools"
  quantifier = "htseq"
  htseq = "/usr/local/bin/htseq-count"
  htseq_parameters = "--mode=intersection-nonempty -a 10 -s no -t exon -i gene_id"
  rsem = "/usr/local/bin/rsem"
  rsem_parameters = ""
  gzip = "/usr/bin/gzip"
  pigz = "/usr/bin/pigz"
  mean = 200
  sd = 20
}
