// configuration option for the mapping.nf Pipeline

params {
  // mapping.nf config
  salmon = "/usr/local/bin/salmon"
  salmon_version = "0.8.2"
  salmon_parameters = "--useVBOpt --numBootstraps 100 --seqBias --gcBias --posBias --libType IU"
  kallisto = "/usr/local/bin/kallisto"
  kallisto_version = "0.43.1"
  kallisto_parameters = "--bias --bootstrap-samples 100"
  bowtie2 = "/usr/local/bin/bowtie2"
  bowtie2_version = "2.3.2"
  bowtie2_parameters = "--very-sensitive"
  bedtools = "/usr/bin/bedtools"
  bedtools_version = "2.25.0"
  samtools = "/usr/local/bin/samtools"
  samtools_version = "1.5"
  quantifier = "htseq"
  htseq = "/usr/local/bin/htseq-count"
  htseq_version = "0.8.0"
  htseq_parameters = "--mode=intersection-nonempty -a 10 -s no -t exon -i gene_id"
  rsem = "/usr/local/bin/rsem"
  rsem_version = "1.3.0"
  rsem_parameters_indexing = ""
  rsem_parameters_quantif = ""
  mean = 200
  sd = 20
  annotation = ""
  reference = ""
  fastq_files = ""
  quantif = "true"
  cpu = 12
}
