// configuration option for the mapping.nf Pipeline for SGE

process {
  $get_salmon_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_kallisto_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_bowtie2_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_rsem_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_htseq_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_bedtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_samtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_pigz_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_gzip_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_fastq_name {
    executor = "sge"
    cpus = 4
    memory = "5GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
  }
  $get_file_name_reference {
      executor = "sge"
      cpus = 4
      memory = "5GB"
      time = "24h"
      queueSize = 1000
      pollInterval = '60sec'
      queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
      penv = 'openmp16'
    }
  $get_file_name_annotation {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $split_ref {
    executor = "sge"
    cpus = 4
    memory = "5GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
  }
  $indexing {
    executor = "sge"
    cpus = 4
    memory = "30GB"
    time = "48h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
  }
  $mapping_quantification {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
  }
  $mapping {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
  }
  $sorting {
    executor = "sge"
    cpus = 8
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
  }
  $quantification {
    executor = "sge"
    cpus = 1
    memory = "5GB"
    time = "10h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
  }
}
