// configuration option for the quality_control.nf Pipeline

params {
  // quality_control.nf config
  name = "quality control analysis"
  fastqc = "/usr/local/bin/fastqc"
  fastqc_version = "0.11.5"
  multiqc = "/usr/local/bin/multiqc"
  multiqc_version = "1.0"
  urqt = "/usr/local/bin/UrQt"
  urqt_version = "d62c1f8"
  file_handle = "file_handle.py"
  file_handle_version = "0.1.1"
  cutadapt = "/usr/local/bin/cutadapt"
  python2_version = "2.7"
  python3_version = "3.5"
  nextflow_version = "0.25.1"
}

process {
    $get_pigz_version {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "1h"
    }
    $get_file_name {
    executor = "local"
    cpus = 4
    memory = "5GB"
    time = "5h"
    }
    $fastqc {
      executor = "local"
      cpus = 1
      memory = "5GB"
      time = "5h"
    }
    $adaptor_removal {
      executor = "local"
      cpus = 1
      memory = "5GB"
      time = "5h"
    }
    $trimming {
      executor = "local"
      cpus = 4
      memory = "5GB"
      time = "5h"
    }
    $fastqc_trimmed {
      executor = "local"
      cpus = 1
      memory = "5GB"
      time = "5h"
    }
    $multiqc {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "1h"
    }
}
