// configuration option for the quality_control.nf Pipeline

params {
  // quality_control.nf config
  params.name = "quality control analysis"
  params.fastqc = "fastqc"
  params.fastqc_version = "0.11.5"
  params.multiqc = "multiqc"
  params.multiqc_version = "0.9"
  params.urqt = "UrQt"
  params.urqt = "d62c1f8"
  params.file_handle = "file_handle.py"
  params.file_handle_version = "0.1.1"
  params.cutadapt = "cutadapt"
  params.python2_version = "2.7"
  params.python3_version = "3.5"
  params.nextflow_version = "0.25.1"
}

process {
    $get_file_name {
      executor = ${params.global_executor}
      cpus = ${params.cpu}
      memory = "2GB"
      time = "10h"
      queue = 'E5-2670deb128*, E5-2670deb256*'
      penv = 'mpi16_debian ${params.cpu}'
    }
    $fastqc {
      executor = ${params.global_executor}
      cpus = 1
      memory = "2GB"
      time = "10h"
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $adaptor_removal {
      executor = ${params.global_executor}
      cpus = 1
      memory = "2GB"
      time = "10h"
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $trimming {
      executor = ${params.global_executor}
      cpus = ${params.cpu}
      memory = "2GB"
      time = "10h"
      queue = 'E5-2670deb128*, E5-2670deb256*'
      penv = 'mpi16_debian ${params.cpu}'
    }
    $fastqc_trimmed {
      executor = ${params.global_executor}
      cpus = 1
      memory = "2GB"
      time = "10h"
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $multiqc {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "10h"
    }
}
