// configuration option for the quality_control.nf Pipeline for SGE

params {
  gzip = "gzip"
  pigz = "pigz"
  fastqc = "fastqc"
  urqt = "UrQt"
  file_handle = "file_handle.py"
  cutadapt = "cutadapt"
}

process {
    $get_pigz_version {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "1h"
    }
    $get_file_name {
      executor = "sge"
      cpus = 4
      memory = "5GB"
      time = "2h"
      queueSize = 1000
      pollInterval = '60sec'
      queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
      penv = 'openmp16'
    }
    $fastqc {
      executor = "sge"
      cpus = 1
      memory = "2GB"
      time = "10h"
      queueSize = 1000
      pollInterval = '60sec'
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $adaptor_removal {
      executor = "sge"
      cpus = 1
      memory = "2GB"
      time = "24h"
      queueSize = 1000
      pollInterval = '60sec'
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $trimming {
      executor = "sge"
      cpus = 4
      memory = "2GB"
      time = "24h"
      queueSize = 1000
      pollInterval = '60sec'
      queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
      penv = 'openmp16'
    }
    $fastqc_trimmed {
      executor = "sge"
      cpus = 1
      memory = "5GB"
      time = "5h"
      queueSize = 1000
      pollInterval = '60sec'
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $multiqc {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "1h"
    }
}
