// configuration option for the quality_control.nf Pipeline

params {
  // quality_control.nf config
  params.name = "quality control analysis"
  params.fastqc = "/usr/local/bin/fastqc"
  params.multiqc = "/usr/local/bin/multiqc"
  params.urqt = "/usr/local/bin/UrQt"
  params.trimmomatic = "/usr/bin/trimmomatic"
  params.cutadapt = "/usr/local/bin/cutadapt"
}

process {
    $get_file_name {
      executor = ${params.global_executor}
      cpus = ${params.cpu}
      module = "nextflow/0.25.1"
      memory = "2GB"
      time = "10h"
      queue = 'E5-2670deb128*, E5-2670deb256*'
      penv = 'mpi16_debian ${params.cpu}'
    }
    $fastqc {
      executor = ${params.global_executor}
      cpus = 1
      module = "nextflow/0.25.1:FastQC/0.11.5"
      memory = "2GB"
      time = "10h"
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $adaptor_removal {
      executor = ${params.global_executor}
      cpus = 1
      module = "nextflow/0.25.1:python/2.7"
      memory = "2GB"
      time = "10h"
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $trimming {
      executor = ${params.global_executor}
      cpus = ${params.cpu}
      module = "nextflow/0.25.1:UrQt/d62c1f8:python/2.7"
      memory = "2GB"
      time = "10h"
      queue = 'E5-2670deb128*, E5-2670deb256*'
      penv = 'mpi16_debian ${params.cpu}'
    }
    $fastqc_trimmed {
      executor = ${params.global_executor}
      cpus = 1
      module = "nextflow/0.25.1:FastQC/0.11.5"
      memory = "2GB"
      time = "10h"
      queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    }
    $multiqc {
      executor = "local"
      cpus = 1
      module = "nextflow/0.25.1:MultiQC/0.9"
      memory = "2GB"
      time = "10h"
    }
}
