// configuration option for the quality_control.nf Pipeline on local mode

params {
  // gobal
  global_executor = 'sge'
  gzip = "gzip"
  pigz = "pigz"
  pigz_module = ""
  file_handle = "file_handle.py"
  file_handle_module = ""
  python2_unload_module = ""
  python3_unload_module = ""
  pbs_header = ""

  // quality control
  fastqc = "fastqc"
  fastqc_module = ""
  urqt = "UrQt"
  urqt_module = ""
  cutadapt = "cutadapt"
  cutadapt_module = ""
  multiqc = "multiqc"
  multiqc_module = ""

  // mapping
  salmon = "salmon"
  salmon_module = ""
  kallisto = "kallisto"
  kallisto_module = ""
  bowtie2 = "bowtie2"
  bowtie2_module = ""
  bedtools = "bedtools"
  bedtools_module = ""
  samtools = "samtools"
  samtools_module = ""
  htseq = "htseq-count"
  htseq_module = ""
  rsem = "rsem"
  rsem_module = ""
}

docker {
  enabled = false
  temp = 'auto'
  enabled = true
}

process {
  $get_gz_version {
    container = "quality_control:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_file_name {
    container = "quality_control:0.0.1"
    executor = "local"
    cpus = 4
    memory = "5GB"
    time = "2h"
  }
  $fastqc {
    container = "quality_control:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $adaptor_removal {
    container = "quality_control:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "24h"
  }
  $trimming {
    container = "quality_control:0.0.1"
    executor = "local"
    cpus = 4
    memory = "2GB"
    time = "24h"
  }
  $fastqc_trimmed {
    container = "quality_control:0.0.1"
    executor = "local"
    cpus = 1
    memory = "5GB"
    time = "5h"
  }
  $multiqc {
    container = "quality_control:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_salmon_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_kallisto_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_bowtie2_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_rsem_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_htseq_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_bedtools_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_samtools_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_pigz_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_gzip_version {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_fastq_name {
    process.container = "mapping:0.0.1"
    executor = "sge"
    cpus = 4
    memory = "5GB"
  }
  $get_file_name_reference {
    process.container = "mapping:0.0.1"
      executor = "sge"
      cpus = 4
      memory = "5GB"
  }
  $get_file_name_annotation {
    process.container = "mapping:0.0.1"
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $split_ref {
    executor = "sge"
    cpus = 4
    memory = "5GB"
  }
  $indexing {
    executor = "sge"
    cpus = 4
    memory = "30GB"
  }
  $mapping_quantification {
    executor = "sge"
    cpus = 16
    memory = "30GB"
  }
  $mapping {
    executor = "sge"
    cpus = 16
    memory = "30GB"
  }
  $sorting {
    executor = "sge"
    cpus = 8
    memory = "30GB"
  }
  $quantification {
    executor = "sge"
    cpus = 1
    memory = "5GB"

  }
}
