// configuration option for the quality_control.nf Pipeline on local mode

params {
  name = "NGS analysis"

  // gobal
  global_executor = 'local'
  gzip = "/usr/bin/gzip"
  pigz = "/usr/bin/pigz"
  pigz_module = ""
  file_handle = "src/file_handle/src/file_handle.py"
  file_handle_module = ""
  python2_unload_module = ""
  python3_unload_module = ""
  pbs_header = ""

  // quality control
  fastqc = "/usr/local/bin/fastqc"
  fastqc_module = ""
  urqt = "/usr/local/bin/UrQt"
  urqt_module = ""
  cutadapt = "/usr/local/bin/cutadapt"
  cutadapt_module = ""
  multiqc = "/usr/local/bin/multiqc"
  multiqc_module = ""

  // mapping
  salmon = "salmon"
  salmon_module = ""
  kallisto = "/usr/local/bin/kallisto"
  kallisto_module = ""
  bowtie2 = "/usr/local/bin/bowtie2"
  bowtie2_module = ""
  bedtools = "/usr/bin/bedtools"
  bedtools_module = ""
  samtools = "/usr/local/bin/samtools"
  samtools_module = ""
  htseq = "/usr/local/bin/htseq-count"
  htseq_module = ""
  rsem = "/usr/local/bin/rsem"
  rsem_module = ""
}

docker {
  enabled = false
}

process {
  $get_gz_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_file_name {
    executor = "local"
    cpus = 4
    memory = "5GB"
    time = "2h"
  }
  $fastqc {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "10h"
  }
  $adaptor_removal {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "24h"
  }
  $trimming {
    executor = "local"
    cpus = 4
    memory = "2GB"
    time = "24h"
  }
  $fastqc_trimmed {
    executor = "local"
    cpus = 1
    memory = "5GB"
    time = "5h"
  }
  $multiqc {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
  }
  $get_salmon_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_kallisto_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_bowtie2_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_rsem_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_htseq_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_bedtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_samtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_pigz_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_gzip_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $get_fastq_name {
    executor = "sge"
    cpus = 4
    memory = "5GB"
  }
  $get_file_name_reference {
      executor = "sge"
      cpus = 4
      memory = "5GB"
  }
  $get_file_name_annotation {
    executor = "local"
    cpus = 1
    memory = "2GB"
  }
  $split_ref {
    executor = "sge"
    cpus = 4
    memory = "5GB"
  }
  $indexing {
    executor = "sge"
    cpus = 4
    memory = "30GB"
  }
  $mapping_quantification {
    executor = "sge"
    cpus = 16
    memory = "30GB"
  }
  $mapping {
    executor = "sge"
    cpus = 16
    memory = "30GB"
  }
  $sorting {
    executor = "sge"
    cpus = 8
    memory = "30GB"
  }
  $quantification {
    executor = "sge"
    cpus = 1
    memory = "5GB"

  }
}
