// configuration option for the  SGE

params {
  // gobal
  global_executor = 'sge'
  gzip = "gzip"
  pigz = "pigz"
  pigz_module = "module load pigz/"
  file_handle = "file_handle.py"
  file_handle_module = "module load file_handle/"
  python2_unload_module = "module unload python/"
  python3_unload_module = "module unload python/"
  pbs_header = """
bash
source /usr/share/modules/init/bash
module use /applis/PSMN/Modules
module load Base/psmn
module load use.own
umask 002
ls .
ls ~/privatemodules/
  """

  // quality control
  fastqc = "fastqc"
  fastqc_module = "module load FastQC/"
  urqt = "UrQt"
  urqt_module = "module load UrQt/"
  cutadapt = "cutadapt"
  cutadapt_module = "module load cutadapt/"
  multiqc = "multiqc"
  multiqc_module = "module load MultiQC/"

  // mapping
  salmon = "salmon"
  salmon_module = "module load Salmon/"
  kallisto = "kallisto"
  kallisto_module = "module load Kallisto/"
  bowtie2 = "bowtie2"
  bowtie2_module = "module load Bowtie2/"
  bedtools = "bedtools"
  bedtools_module = "module load BEDtools/"
  samtools = "samtools"
  samtools_module = "module load SAMtools/"
  htseq = "htseq-count"
  htseq_module = "module load HTSeq/"
  rsem = "rsem"
  rsem_module = "module load RSEM/"
}

docker {
  enabled = false
}

process {
  $get_fastq_name {
    executor = "local"
    cpus = 4
    memory = "5GB"
    time = "2h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_fasta_name {
    cpus = 4
    memory = "5GB"
    time = "2h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_annot_name {
    cpus = 4
    memory = "5GB"
    time = "2h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $fastqc {
    executor = "sge"
    cpus = 1
    memory = "2GB"
    time = "10h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
  }
  $adaptor_removal {
    executor = "sge"
    cpus = 1
    memory = "2GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $trimming {
    executor = "sge"
    cpus = 16
    memory = "2GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $fastqc_trim {
    executor = "sge"
    cpus = 1
    memory = "5GB"
    time = "5h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $multiqc_qc {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_salmon_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_kallisto_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_bowtie2_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_rsem_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_htseq_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_bedtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_samtools_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_pigz_version {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_file_name_reference {
    executor = "sge"
    cpus = 16
    memory = "5GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $get_file_name_annotation {
    executor = "local"
    cpus = 1
    memory = "2GB"
    time = "1h"
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $split_ref {
    executor = "sge"
    cpus = 16
    memory = "5GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $indexing {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "48h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $mapping_quantification {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $mapping {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $sort_bam {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $pseudomapping {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $sorting {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $sorting {
    executor = "sge"
    cpus = 16
    memory = "30GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
}
