// configuration option for the quality_control.nf Pipeline on local mode

params {
  global_executor = 'local'
  name = "quality control analysis"
  gzip = "/usr/bin/gzip"
  fastqc = "/usr/local/bin/fastqc"
  multiqc = "/usr/local/bin/multiqc"
  urqt = "/usr/local/bin/UrQt"
  file_handle = "file_handle.py"
  cutadapt = "/usr/local/bin/cutadapt"
  file_handle_module = ""
  fastqc_module = ""
  multiqc_module = ""
  urqt_module = ""
  cutadapt_module = ""
  pigz_module = ""
  python2_unload_module = ""
  python3_unload_module = ""
}

docker {
  enabled = false
  temp = 'auto'
  enabled = true
  runOptions = "--cpus=\"${params.cpu}\" --memory=\"${params.memory}\""
}

process {
    container = "quality_control:0.0.1"
    $get_gz_version {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "1h"
    }
    $get_file_name {
      executor = "local"
      cpus = 4
      memory = "5GB"
      time = "2h"
    }
    $fastqc {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "10h"
    }
    $adaptor_removal {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "24h"
    }
    $trimming {
      executor = "local"
      cpus = 4
      memory = "2GB"
      time = "24h"
    }
    $fastqc_trimmed {
      executor = "local"
      cpus = 1
      memory = "5GB"
      time = "5h"
    }
    $multiqc {
      executor = "local"
      cpus = 1
      memory = "2GB"
      time = "1h"
    }
}
