params {
  global_executor = 'sge'
}

process {
  $merge_annotation {
    beforeScript = 'ml BEDtools/2.25.0 file_handle/0.1.1'
    executor = "sge"
    cpus = 1
    memory = "1GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $merge_bams {
    executor = "sge"
    beforeScript = 'ml SAMtools/1.5 file_handle/0.1.1'
    cpus = 1
    memory = "10GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $sort_bams {
    executor = "sge"
    beforeScript = 'ml SAMtools/1.5 file_handle/0.1.1'
    cpus = 16
    memory = "10GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $index_bams {
    executor = "sge"
    beforeScript = 'ml SAMtools/1.5 file_handle/0.1.1'
    cpus = 1
    memory = "10GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $compute_bigwig {
    executor = "sge"
    beforeScript = 'ml deepTools/3.0.2 file_handle/0.1.1'
    cpus = 16
    memory = "128GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $compute_matrix {
    executor = "sge"
    beforeScript = 'ml deepTools/3.0.2 file_handle/0.1.1'
    cpus = 16
    memory = "128GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'E5-2670deb128A,E5-2670deb128B,E5-2670deb128C,E5-2670deb128D,E5-2670deb128E,E5-2670deb128F'
    penv = 'openmp16'
    errorStrategy = 'retry'
    maxRetries = 10
  }
  $compute_plot {
    executor = "sge"
    eforeScript = 'ml deepTools/3.0.2 file_handle/0.1.1'
    cpus = 1
    memory = "10GB"
    time = "24h"
    queueSize = 1000
    pollInterval = '60sec'
    queue = 'monointeldeb128, E5-2667v2h6deb128, E5-2667v2d2deb128'
    errorStrategy = 'retry'
    maxRetries = 10
  }
}
