//Enable trace by default
trace.enabled = true

params {
  cpu = 12
  memory = "32GB"
  params.gzip = "/usr/bin/gzip"
  params.pigz = "/usr/bin/pigz"

  // quality_control.nf config
  params.name = "quality control analysis"
  params.fastqc = "/usr/local/bin/fastqc"
  params.multiqc = "/usr/local/bin/multiqc"
  params.urqt = "/usr/local/bin/UrQt"
  params.trimmomatic = "/usr/bin/trimmomatic"
  params.cutadapt = "/usr/local/bin/cutadapt"

  // mapping.nf config
  mapper = "salmon"
  paired = true
  salmon = "/usr/local/bin/salmon"
  salmon_parameters = "--useVBOpt --numBootstraps 100 --seqBias --gcBias --posBias --libType IU"
  kallisto = "/usr/local/bin/kallisto"
  kallisto_parameters = "--bias --bootstrap-samples 100"
  bowtie2 = "/usr/local/bin/bowtie2"
  bowtie2_parameters = "--very-sensitive"
  bedtools = "/usr/bin/bedtools"
  samtools = "/usr/bin/samtools"
  quantifier = "htseq"
  htseq = "/usr/local/bin/htseq-count"
  htseq_parameters = "--mode=intersection-nonempty -a 10 -s no -t exon -i gene_id"
  rsem = "/usr/local/bin/rsem"
  rsem_parameters = ""
  gzip = "/usr/bin/gzip"
  pigz = "/usr/bin/pigz"
  mean = 200
  sd = 20
}

executor {
  $sge {
    queueSize = 1000
    pollInterval = '30sec'

  }
  $local {
    cpus = 12
    memory = ${params.memory}
  }
}

docker {
  temp = 'auto'
  enabled = false
  runOptions = "--cpus=\"${params.cpu}\" --memory=\"${params.memory}\""
}

profiles {
  standard {
    process.executor = 'local'
    queueSize = 10
    pollInterval = '1sec'
  }
  cluster {
    process.executor = 'sge'
    process.queue = 'long'
    process.memory = '10GB'
    queueSize = 100
    pollInterval = '30sec'
  }
}
