//Enable trace by default
trace.enabled = true

params {
  global_executor = "local"
  cpu = 12
  memory = "32GB"
  gzip = "/usr/bin/gzip"
  pigz = "/usr/bin/pigz"
  pigz_version = "2.3.4"
  file_handle_version = "0.1.1"
  python2_version = "2.7"
  python3_version = "3.5"
  nextflow_version = "0.25.1"
  pbs_header = """source /usr/share/modules/init/bash
  module use /applis/PSMN/Modules
  module load Base/psmn
  umask 002
  ls .
  """
}

process {
  $get_pigz_version {
  executor = "local"
    cpus = 1
    memory = "1GB"
    time = "1h"
  }
  $get_gzip_version {
  executor = "local"
    cpus = 1
    memory = "1GB"
    time = "1h"
  }
}

docker {
  enabled = false
}

profiles {
  quality_control {
    global_executor = 'local'
    includeConfig 'pipe/quality_control.config'
  }
  quality_control_docker {
    params.global_executor = 'local'
    process.container = "quality_control:0.0.1"
    docker.temp = 'auto'
    docker.enabled = true
    docker.runOptions = "--cpus=\"${params.cpu}\" --memory=\"${params.memory}\""
    includeConfig 'pipe/quality_control.config'
  }
  quality_control_sge {
    params.global_executor = 'sge'
    includeConfig 'pipe/quality_control.config'
    includeConfig 'pipe/quality_control_sge.config'
  }
  mapping {
    params.global_executor = 'local'
    includeConfig 'pipe/mapping.config'
  }
  mapping_sge {
    params.global_executor = 'sge'
    includeConfig 'pipe/mapping.config'
    includeConfig 'pipe/mapping_sge.config'
  }
  mapping_docker {
    params.global_executor = 'local'
    process.container = "mapping:0.0.1"
    docker.temp = 'auto'
    docker.enabled = true
    docker.runOptions = "--cpus=\"${params.cpu}\" --memory=\"${params.memory}\""
    includeConfig 'pipe/mapping.config'
  }
}
