//Enable trace by default
trace.enabled = true

params {
  cpu = 12
}

executor {
  $sge {
    queueSize = 100
    pollInterval = '30sec'
  }
  $local {
    cpus = 12
    memory = '32 GB'
  }
}

docker {
  enabled = false
  temp = 'auto'
}

profiles {
  standard {
    process.executor = 'local'
    queueSize = 10
    pollInterval = '1sec'
  }
  cluster {
    process.executor = 'sge'
    process.queue = 'long'
    process.memory = '10GB'
    queueSize = 100
    pollInterval = '30sec'
  }
}
