//Enable trace by default
trace.enabled = true

params {
  global_executor = "local"
  cpu = 2
  memory = "8GB"
  todo = "fastqc+cutadapt+urqt+fastqc+multiqc+bowtie2+htseq+multiqc"

  verbose = false

  // general config
  pigz_version = "2.3.4"
  file_handle_version = "0.1.1"
  python2_version = "2.7"
  python3_version = "3.5"
  nextflow_version = "0.25.1"

  // quality control config
  name = "quality control analysis"
  fastqc_version = "0.11.5"
  multiqc_version = "1.0"
  urqt_version = "d62c1f8"
  nextflow_version = "0.25.1"

  // adaptor removal
  adaptor_removal = "cutadapt"
  adaptor_sequence_single = "-a AGATCGGAAGAG -g CTCTTCCGATCT"
  adaptor_sequence_paired = "-a AGATCGGAAGAG -g CTCTTCCGATCT -A AGATCGGAAGAG -G CTCTTCCGATCT"

  // trimming
  quality_threshold = 20

  // mapping config
  salmon_version = "0.8.2"
  kallisto_version = "0.43.1"
  bowtie2_version = "2.3.2"
  bedtools_version = "2.25.0"
  samtools_version = "1.5"
  htseq_version = "0.8.0"
  rsem_version = "1.3.0"
  mean = 200
  sd = 20

  // mapping
  salmon_parameters = "--useVBOpt --numBootstraps 100 --seqBias --gcBias --posBias --libType IU"
  kallisto_parameters = "--bias --bootstrap-samples 100"
  bowtie2_parameters = "--very-sensitive"

  // quantification
  htseq_parameters = "--mode=intersection-nonempty -a 10 -s no -t exon -i gene_id"
  rsem_parameters_indexing = ""
  rsem_parameters_quantif = ""
}

profiles {
  local {
    includeConfig 'pipe/conf/pipeline_local.config'
  }
  docker {
    includeConfig 'pipe/conf/pipeline_docker.config'
  }
  sge {
    includeConfig 'pipe/conf/pipeline_sge.config'
  }
}
