//Enable trace by default
trace.enabled = true

params {
  global_executor = "local"
  gz_cpu = 4
}

profiles {
  quality_control {
    global_executor = 'local'
    includeConfig 'pipe/conf/quality_control.config'
    includeConfig 'pipe/conf/quality_control_local.config'
  }
  quality_control_docker {
    params.global_executor = 'local'
    includeConfig 'pipe/conf/quality_control.config'
    includeConfig 'pipe/conf/quality_control_docker.config'
  }
  quality_control_sge {
    params.global_executor = 'sge'
    includeConfig 'pipe/conf/quality_control.config'
    includeConfig 'pipe/conf/quality_control_sge.config'
  }
  mapping {
    params.global_executor = 'local'
    includeConfig 'pipe/conf/mapping.config'
  }
  mapping_sge {
    params.global_executor = 'sge'
    includeConfig 'pipe/conf/mapping.config'
    includeConfig 'pipe/conf/mapping_sge.config'
  }
  mapping_docker {
    params.global_executor = 'local'
    process.container = "mapping:0.0.1"
    docker.temp = 'auto'
    docker.enabled = true
    docker.runOptions = "--cpus=\"${params.cpu}\" --memory=\"${params.memory}\""
    includeConfig 'pipe/conf/mapping.config'
  }
}
